/* fontes size */
.f-2-5rem{
    font-size: 2.5rem;
}

.f-2rem{
    font-size: 2rem;
}

.f-1-75rem{
    font-size: 1.75rem;
}

.f-1-5rem{
    font-size: 1.5rem;
}

.f-1-25rem{
    font-size: 1.25rem;
}

.f-1rem{
    font-size: 1rem;
}

.f-0-9rem{
    font-size: 0.9rem;
}

/* fontes weigth */
.f-bold-600{
    font-weight: 600;
}

.f-bold-400{
    font-weight: 400;
}

/* text transform */
.up{
    text-transform: uppercase;    
}